

@media (min-width: 300px) {   
    .navbar-brand {
        font-size: 25px;
    }

    .social-icons {
        margin-left: 3%;
    } 
}

@media (min-width: 768px) {     
    .navbar-brand {
        font-size: 25px;
    }

    .social-icons {
        margin-left: 3%;
    } 

    .nav-link {
        font-size: 20px;
    }
 }

 @media (min-width: 992px) { 
    .navbar-brand {
        font-size: 25px;
    }

    .nav-link {
        font-size: 20px;
    }

    .icon {
        margin: auto;
        width: 25%;
        margin-right: 0;
    }
    
    .social-icons {
        margin-left: 3%;
    } 
 }